.container{
    .row{
        .box{
            .create{
                border-radius: 10px;
                background: white;
                transform: translate(-50%, -50%);
                position: absolute;
                top: 40%;
                left: 50%;
                input{
                    width: 250px;
                }
                text-align: center;
                width: 300px;
                padding: 15px;
                border: 1px solid gray;
            }
            .newFolder{
                display: inline-block;
                margin: 20px;
                width: 200px;
                padding: 10px;
                border: 1px solid lightgray;
                border-radius: 10px;
                text-align: center;
                i{font-size: 20px;
                margin-right: 10px;}
            }
            .contextmenu{
                background: white;
                z-index: 5;
                position: absolute;
                ul{
                    padding: 0;
                    list-style: none;
                    li{
                        border-bottom: 1px solid lightgray;
                        cursor: pointer;
                        &:hover{background: #F1F3F4;}
                        line-height: 2.5rem;
                        i{font-size: 20px;
                        margin-right: 10px;}
                    }
                }
                width: 220px;
                border: 1px solid lightgray;
                border-radius: 10px;
                box-shadow: 7px 7px 20px 0  gray;
            }
            margin: 50px auto;
            width: 100%;
            height: 550px;
            border: 1.5px solid gray;
            border-radius: 10px;
        }
    }
}